<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Logs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logs</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>

  <div class="logsContainer">
    <ion-item *ngFor="let item of results">
      <ion-label text-wrap>{{ item.username }}</ion-label>
      <ion-label text-wrap>{{ item.time }}</ion-label>
      <ion-label text-wrap>{{ item.date }}</ion-label>
    </ion-item>
  </div>
</ion-content>
